body{
    margin : 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

.h1_title{
    text-align: center;
    color: white; 
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

nav ul {
    display: flex;
    gap: 3em;
    list-style-type: none;
    justify-content: center;
    margin:5vh 0 5vh 0;
    padding: 0;
}

nav ul li{
    background-color: rgb(0, 0, 0);
}

nav ul a{
    color:white;
    text-decoration: none;


}

.searchbar{
  padding: 10px;  
  margin: 0;
  width: 300px;
  border-radius: 10px;
}

section{
    margin: 25px;
    border: solid white 5px;
    min-height: 300px;
    width: auto;
}

.kit-frame{
    border: solid white 1px;
    min-height: 200px;
    min-width: 100px;
}

