body {
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.title{
    text-align: center;
}


.nav-bar{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    margin:0;
    padding:0;
    justify-content: center;
}

.nav-bar a{
    display: inline-block;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    color: white;
}

.nav-bar li{
    background-color: black;
    border-radius: 15px;
}

.nav-bar a:hover {
  background-color: var(--primary-dark, #ffffff);
  border-radius: 15px;
  color: rgb(0, 0, 0)
}

.kit-container{
    border: 5px solid;
    padding: 1em;
    margin: 1em;
}

.kit-box{
    display: inline-block;   
    border: 5px solid;
    padding: 1rem;
    min-height: 10em;
    width: 15em;
}
>>>>>>> 7ec2974 (added CRUD (needs refinement and validation))
